@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
}
.box-shadoe {
  box-shadow: 
    0px 0px 50px 5px blue;
    /* 10px 10px 50px 5px red;  */
}

.no-transition:focus {
  transition: none;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Add this in your global CSS file */
.clock-face {
  position: relative;
  background: url('/assets/img/clock.png') ;
  background-size: 100%;
  z-index: 1;

}

.hour-hand, .minute-hand, .second-hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 25%;
  height: 5px;
  background-color: blue;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.3, 1);
}

.minute-hand {
  height: 3px;
  width: 35%;
  background-color: green;
}

.second-hand {
  height: 1px;
  width: 45%;
  background-color: red;
}

.circle-off{
  position: absolute;
  bottom: 47%;
  left: 47%;
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 
    0px 0px 19px 15px blue;
}

.analog-rotate{
  rotate:90deg;
}
